/* Hero Section =================================================*/
.hero-container {
    min-height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
    justify-content: center;
}

.tags-container {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: space-between;
}

.tags-container p {
    background: var(--bg-tags);
    color: var(--text-tags);
    padding: 0.5em 1em;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 0.4em;
}

.hero-desc-container {
    width: min(120rem, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.hero-desc-container h1 {
    font-size: 6.4rem;
    text-align: center;
}

.hero-desc-container p {
    font-size: 2.4rem;
    text-align: center;
}

.btn-cta {
    margin-top: 1.2em;
    font-size: 2.8rem;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .hero-desc-container h1 {
        font-size: 4.8rem;
    }

    .hero-desc-container p {
        font-size: 2rem;
    }

    .btn-cta {
        font-size: 2.4rem;
        padding: 0.6em 1.8em;
    }
}

@media (max-width: 480px) {
    .hero-desc-container h1 {
        font-size: 3.6rem;
    }

    .hero-desc-container p {
        font-size: 1.8rem;
    }

    .btn-cta {
        font-size: 2rem;
        padding: 0.4em 1.2em;
    }

    .tags-container p {
        font-size: 1.6rem;
        padding: 0.4em 0.8em;
    }
}

/* Emergency Call Section ===============================================*/
.emergency-call-container {
    min-height: 8vh;
    padding-block: 0.8em;
    background-color: var(--bg-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    z-index: -999;
}

.emergency-call-container p {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--white);
    text-align: center;
    line-height: 1.5;
}

.hero-img-container {
    width: min(120rem, 90%);
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 100%;
}

.hero-img-container img {
    object-fit: contain;
    object-position: bottom;
}

@media (max-width: 768px) {
    .emergency-call-container p {
        font-size: 2rem;
    }

    .hero-img-container {
        gap: 0.6rem;
    }
}

@media (max-width: 480px) {
    .emergency-call-container p {
        font-size: 1.8rem;
    }

    .hero-img-container {
        display: none;
    }
}

/* Quick Appointment Section =============================================*/
.quick-appoinment-container {
    width: 100vw;
}

/* About Our Platform Section ============================================*/
.about-platform-container {
    background-color: var(--bg-purple);
}

.about-platform-content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2.4rem;
    column-gap: 4.8rem;
    width: min(110rem, 90%);
    margin-inline: auto;
    min-height: 200px;
    align-items: center;
    color: var(--white);
    padding-block: 3.6em;
    font-size: 2rem;
}

.about-platform-title {
    grid-column: 2/-1;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 500;
    justify-self: flex-start;
}

.dean-img-wrapper {
    grid-row: 1 / -4;
    width: min(30rem, 100%);
}

.dean-img-wrapper img {
    width: 100%;
}

.about-platform {
    grid-column: 2 / -1;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    align-items: flex-start;
}

.about-platform-blockquote {
    font-size: 1.8rem;
    font-weight: 200;
}

.dean-name {
    font-size: 2.4rem;
}

.position {
    font-size: 1.6rem;
    font-weight: 200;
}

@media screen and (max-width: 768px) {
    .about-platform-content-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .about-platform-title {
        font-size: 2.6rem;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-self: center;
    }

    .dean-img-wrapper {
        width: min(15rem, 100%);
        grid-row: 2 / 3;
    }

    .about-platform {
        grid-column: 1/-1;
    }

    .about-platform-blockquote {
        font-size: 1.6rem;
    }

    .dean-name {
        font-size: 2rem;
    }

    .position {
        font-size: 1.4rem;
    }
}

/* Testimonial Section =============================================*/
.testimonial-container {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    align-items: center;
    justify-content: center;
    padding-block: 7.2em;
}

.testimonial-title {
    font-size: 2.8rem;
    font-weight: 400;
    text-align: center;
    padding-inline: 1.2em;
    padding-bottom: 0.4em;
    border-bottom: 1px solid #262526;
    margin-bottom: 0.8em;
}

.testimonial-slider {
    width: min(120rem, 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    overflow: hidden;
}

.testimonial-slide {
    display: none;
    text-align: center;
    box-shadow: none;
}

.testimonial-slide.active {
    display: block;
}

.testimonial-text {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--bg-purple);
}

.prev,
.next {
    border: none;
    background-color: transparent;
    cursor: pointer;
    align-self: flex-start;
}

.prev img,
.next img {
    width: 2.4rem;
}

@media screen and (max-width: 768px) {
    .testimonial-title {
        font-size: 2.4rem;
    }

    .testimonial-text {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 768px) {
    .testimonial-container {
        padding-bottom: 0;
    }
}

/* Contact Us Section =================================================*/
.contact-home-content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: 4.8rem;
    column-gap: 2.4rem;
    padding-top: 4.8rem;
}

.contact-title-wrapper {
    grid-column: 1 / -1;
}

.contact-img-wrapper {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    align-self: flex-end;
}

.contact-img-wrapper img {
    width: min(40rem, 100%);
}

.contact-home-form {
    display: flex;
    width: min(60rem, 100%);
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;
    padding-block: 3.2em;
    justify-self: start;
}

.contact-home-form input {
    width: 100%;
    padding: 0.6em 0.6em;
    font-size: 1.8rem;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--text-primary);
}

.contact-home-form textarea {
    resize: none;
    outline: none;
    width: 100%;
    padding: 0.8em 0.6em;
    background: none;
    font-size: 1.8rem;
    border-radius: 0.8em;
}

.contact-home-form textarea::-webkit-scrollbar {
    display: none;
}

.btn-submit {
    font-size: 1.8rem;
    align-self: flex-end;
}

@media screen and (max-width: 768px) {
    .contact-home-content-container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .contact-img-wrapper {
        display: none;
    }

    .contact-home-form {
        justify-self: center;
    }

    .contact-home-form input,
    .contact-home-form textarea {
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    .contact-home-form {
        padding-block: 2.4em;
    }
}
